.contact-cont {
    margin-top: 104px;
    width: calc(100vw - 17px);
    position: relative;

    .teamwork-img {
        position: relative;

        img {
            height: 400px;
        }
    }

    .linear-bg-text-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 557px;
        padding-left: 50px;
        gap: 26px;
        position: absolute;
        top: 200px;
        height: 400px;
        transform: translateY(-50%);
        color: white;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.02) 0.38%, rgba(16, 16, 16, 0.63) 39.2%);

        .text-sm-heading {
            color: #FFF;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }


        .text-md-heading {
            color: #FFF;
            font-size: 60px;
            font-style: normal;
            font-weight: 400;
            line-height: 74px;
        }

    }

    .solution-details-cont {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 10px;

        .solution-bg-text {
            color: rgba(50, 48, 48, 0.05);
            font-size: 100px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            align-items: center;
            position: absolute;
        }

        .solution-heading {
            margin-top: 30px;
            color: #2D6C80;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .content-text {
            color: #707070;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 750px;
            height: 98px;
            flex-shrink: 0;
        }

    }

    .contact-details-cont {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        padding: 60px 40px;

        .sub-cont {
            display: flex;

            .icon-details-cont {
                display: flex;
                gap: 15px;

                .details-cont {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    >div:first-child {
                        color: #000;
                        text-align: justify;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        user-select: none;
                    }

                    >div:nth-child(2) {
                        color: #000;
                        // text-align: justify;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        width: 250px;
                    }
                }
            }

            .separator {
                width: 2px;
                height: 100px;
                background: #DADADA;
            }
        }

    }
}

/* ======================= Mobile (max-width: 600px) ======================= */
@media (max-width: 600px) {
    .contact-cont {
        margin-top: 56px;
        width: 100vw;
        position: static;

        .teamwork-img {

            img {
                height: 300px;
            }
        }

        .linear-bg-text-cont {
            width: 60%;
            padding-left: 20px;
            top: 205px;
            height: 300px;
            gap: 20px;

            .text-sm-heading {
                font-size: 22px;
                width: 100%;
            }

            .text-md-heading {
                font-size: 40px;
                line-height: 50px;
                width: 100%;
            }

        }

        .solution-details-cont {
            padding: 20px;
            gap: 30px;
            margin-top: 10px;

            .solution-bg-text {
                font-size: 60px;
            }

            .solution-heading {
                margin-top: 20px;
                font-size: 36px;
            }

            .content-text {
                font-size: 20px;
                width: 90%;
                text-align: justify;
                height: fit-content;
            }

        }

        .contact-details-cont {
            padding: 20px;
            flex-direction: column;
            gap: 20px;

            .sub-cont {
                width: 100%;
                gap: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon-details-cont {
                    margin-left: 40px;

                    .details-cont {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        >div:first-child {
                            font-size: 22px;
                        }

                        >div:nth-child(2),
                        >div:nth-child(3) {
                            font-size: 18px;
                        }
                    }
                }

                .separator {
                    width: 100%;
                    right: 20px;
                    height: 2px;
                }
            }

        }
    }
}

/* =============== Tablets (601px - 1024px) =============== */
@media (min-width: 601px) and (max-width: 1024px) {
    .contact-cont {
        width: 100vw;
        margin-top: 124px;

        .solution-details-cont {
            padding: 20px;

            .content-text {
                width: 100%;
            }

        }

        .contact-details-cont {
            padding: 20px;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 30px;

            .sub-cont {
                width: 100%;
                gap: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon-details-cont {
                    margin-left: 40px;

                    .details-cont {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                }

                .separator {
                    width: 50%;
                    right: 20px;
                    height: 2px;
                }
            }

        }
    }
}