.quote-request-cont {
    display: flex;
    background: rgba(245, 245, 245, 0.46);

    .quote-form-cont {
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 70%;

        .heading-text {
            color: #000;
            text-align: justify;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .content-text {
            color: #000;
            text-align: justify;
            font-size: 20px;
            font-style: normal;
            font-weight: 100;
            line-height: normal;
        }

        .form-cont {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 20px;

            .field-container {
                display: flex;
                gap: 10px;

                input {
                    border-radius: 5px;
                    background: #D9D9D9;
                    flex: 1;
                    height: 40px;
                    flex-shrink: 0;
                    border: none;
                    padding-left: 17px;
                }
            }
        }
    }

    .img-cont {
        margin-left: auto;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(45, 108, 128, 0.74);
            z-index: 1;
            pointer-events: none;
        }
    }
}

/* ======================= Mobile (max-width: 600px) ======================= */
@media (max-width: 600px) {

    .quote-request-cont {
        display: flex;
        background: rgba(245, 245, 245, 0.46);

        .quote-form-cont {
            padding: 20px;
            width: 100%;

            .heading-text {
                font-size: 28px;
                width: 100%;
            }

            .content-text {
                font-size: 18px;
                width: 100%;
            }

            .form-cont {
                width: 100%;
                flex-wrap: wrap;
                gap: 15px;

                .field-container {
                    flex-wrap: wrap;
                    gap: 15px;
                }
            }
        }

        .img-cont {
            display: none;
        }
    }
}