.services-cont {
    margin-top: 100px;
    width: calc(100vw - 20px);

    .service-top-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding-left: 40px;
        flex-wrap: wrap;

        .content-text {
            display: flex;
            flex-direction: column;
            gap: 12px;
            max-width: 45%;

            div {
                &:first-child {
                    color: #707070;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                &:last-child {
                    color: #000;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 74px;
                }
            }
        }

        .img-cont {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 55%;

            // Radial Background
            .radial {
                position: absolute;
                right: -150px;
                z-index: 1;
                max-width: 550px;
                height: 550px;

            }

            // Foreground Illustration
            .illustration {
                position: relative;
                z-index: 1;
                max-width: 650px;
                right: 15px;
                mix-blend-mode: multiply;
            }
        }
    }

    .slick {
        margin-top: 30px;
        margin-bottom: 40px;

        .slick-slide {
            padding: 0 30px;
        }

        img {
            mix-blend-mode: multiply;

        }

        .slick-track {
            display: flex;
            padding: 30px;
        }

        div {
            &:has(img) {
                background: rgba(79, 182, 214, 0.06);
            }
        }
    }

    .solution-details-cont {
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 20px;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .solution-bg-text {
            color: rgba(50, 48, 48, 0.05);
            font-size: 100px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            align-items: center;
            position: absolute;
        }

        .solution-heading {
            margin-top: 30px;
            color: #2D6C80;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .content-text {
            color: #707070;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 800px;
            height: 98px;
            flex-shrink: 0;
        }

    }

    .question-cont {
        display: flex;
        padding: 40px;
        align-items: center;
        justify-content: space-evenly;
        gap: 200px;
        flex-wrap: wrap;

        .content-cont {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 530px;

            .text-s-heading {
                color: #666;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .text-m-heading {
                color: #2D6C80;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .faq-item {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .text-button-cont {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    gap: 20px;
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.09);
                    background: #FBFBFB;

                    .button-inner-text {
                        color: #000;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    button {
                        margin-left: auto;
                    }
                }

                .faq-content {
                    color: #000;
                    text-align: justify;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }
}

/* ======================= Mobile (max-width: 600px) ======================= */
@media (max-width: 600px) {
    .services-cont {
        margin-top: 55px;
        width: 100vw;

        .service-top-cont {
            align-items: flex-start;
            height: 100%;
            padding-left: 20px;
            padding-top: 40px;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 80px;
            padding-bottom: 50px;

            .content-text {
                width: 100%;
                max-width: 90%;

                div {
                    &:first-child {
                        font-size: 22px;
                        width: 100%;
                    }

                    &:last-child {
                        font-size: 38px;
                        line-height: 50px;
                        width: 100%;
                    }
                }
            }

            .img-cont {
                position: static;
                justify-content: flex-start;
                width: 100%;

                // Radial Background
                .radial {
                    right: 10px;
                    height: 300px;
                }

                // Foreground Illustration
                .illustration {
                    width: 300px;
                    left: 0px;
                    max-width: 400px;
                }
            }
        }

        .solution-details-cont {
            padding: 0 40px 20px 20px;
            gap: 30px;

            .solution-bg-text {
                font-size: 80px;
                align-items: center;
                left: 36px;
            }

            .solution-heading {
                margin-top: 30px;
                font-size: 36px;
                width: 100%;
            }

            .content-text {
                font-size: 20px;
                width: 100%;
                height: 100%;
                text-align: justify;
            }

        }

        .question-cont {
            padding: 40px 20px;
            gap: 70px;
            flex-wrap: nowrap;
            flex-direction: column;

            .content-cont {
                width: 100%;

                .text-s-heading {
                    font-size: 22px;
                    width: 100%;
                }

                .text-m-heading {
                    font-size: 28px;
                    width: 100%;
                }

                .faq-item {

                    .text-button-cont {

                        .button-inner-text {
                            font-size: 20px;
                        }

                        button {
                            margin-left: auto;
                        }
                    }

                    .faq-content {
                        font-size: 18px;
                        width: 100%;
                    }
                }
            }

            .img-cont {
                img {
                    width: 300px;
                }
            }
        }
    }
}